//registry.npmjs.org/:_authToken=${NPM_TOKEN}
registry=https://registry.npmjs.org/
@vite-mf-monorepo:registry=https://registry.npmjs.org/
@fubar-it-co:registry=https://registry.npmjs.org/
always-auth=true

strict-peer-dependencies=false
auto-install-peers=true
resolution-mode=highest
public-hoist-pattern[]=@storybook/*
