@import 'tailwindcss' prefix(mda);
@import '@vite-mf-monorepo/shared/theme.css' prefix(mda);
@import '@vite-mf-monorepo/layouts/styles.css';
@import '@vite-mf-monorepo/ui/styles.css';

@layer utilities {
    .mda\:text-shadow-strong {
        text-shadow: 0 0 10px rgb(0 0 0 / 0.75);
    }
    .mda\:text-shadow-medium {
        text-shadow: 0 0 5px rgb(0 0 0 / 0.5);
    }
    .mda\:hero-height {
        aspect-ratio: 21/9;
    }
    .mda\:hero-height img {
        object-fit: cover;
        object-position: center;
    }
    @media (min-width: 1024px) {
        .mda\:hero-height {
            max-height: 440px;
        }
    }
}
